<!-- About Start -->
<div class="about" id="about">
    <div class="container">
        <div class="section-header text-center">
            <h2>Join Solna Cricket Club</h2>
        </div>
        <div class="about-tab">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">JOIN US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">OUR VISION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tab-content-3">OUR HISTORY</a>
                </li>
            </ul>

            <div class="tab-content">
                    <div id="tab-content-1" class="container tab-pane active">
                    Are you interested in<br/>
                        - Joining our team?<br />
                        - Attending our practice sessions?<br />
                        - Helping us promote cricket in Sweden?<br /><br />
                        Please drop a mail to <b><%= contact_us_email %></b> or call us at <b><%= contact_us_phone_number %></b> for your inquiries, and will get back to you as soon as possible.
                </div>

           
                <div id="tab-content-2" class="container tab-pane fade">
                    <p>Our goal is not only to remain competitive and win tournaments in SCF men’s league but also to grow our club further through regular recruitment of new players and by providing them a safe, friendly, and cooperative environment to improve their game.</p>

                    <p>Ultimately, our overarching aim is to promote cricket in Sweden and create a platform for bringing people from different cultural backgrounds who share a common love for this beautiful game.</p>
                </div>

                <div id="tab-content-3" class="container tab-pane fade">
                    <p>Solna Cricket Club (formerly Karolinska Cricket Club) was founded in 2012 by a group of cricket enthusiasts from Stockholm, with a humble aim to train together and participate in various competitive leagues under Svenska Cricketforbundet (SCF).</p>

                    <p>Back then, this gentleman’s game had barely entered the Swedish arena. Over the years, Cricket has taken giant strides in terms of gaining popularity and infrastructure building across Sweden.</p>

                    <p>We have been fortunate to ride this wave with the spirited participation from the past and present members of our club whose passion and dedication for the game are second to none. This reflected well on our on-field success which includes reaching the semifinals of the Swedish Men’s league (division 2 and 3) for three consecutive years (2016-18) and qualifying for the Superreten in 2021. </p>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->