<div class="teamGroupPhotosHeader" id="teamPhotos">
  <h1>Gallery Season 2021</h1>
</div>

<div class="row photos">
    <div class="column">
        <img src="assets/gallery_1.jpg">
        <img src="assets/gallery_2.jpg">
        <img src="assets/gallery_3.jpg">
        <img src="assets/gallery_19.jpg">
    </div>
    <div class="column">
        <img src="assets/gallery_6.jpg">
        <img src="assets/gallery_7.jpg">
        <img src="assets/gallery_8.jpg">
        <img src="assets/gallery_9.jpg">
        <img src="assets/gallery_10.jpg">
    </div>

    <div class="column">
        <img src="assets/gallery_11.jpg">
        <img src="assets/gallery_12.jpg">
        <img src="assets/gallery_13.jpg">
        <img src="assets/gallery_14.jpg">
        <img src="assets/gallery_20.jpeg">
    </div>

    <div class="column">
        <img src="assets/gallery_5.jpg">
        <img src="assets/gallery_16.jpg">
        <img src="assets/gallery_17.jpg">
        <img src="assets/gallery_18.jpg">
        <img src="assets/gallery_15.jpg">
    </div>
</div>
